/*for custom*/
$pdx-white: #FFFFFF;
$pdx-white-4: #666666;
$pdx-yellow-dark: #EEB100;
$pdx-yellow: #F8D506;
$pdx-yellow-3: #FFD654;
$pdx-yellow-2: #FFF4AF;
$pdx-yellow-4: #fff4afb3;
$pdx-gray: #797979;
$pdx-gray-2: #A5A5A5;
$pdx-gray-3: #D0D1D3;
$pdx-gray-4: #F3F4F6;
$pdx-black: #161502;
//$pdx-red: #EB614B;
$pdx-red: #F35543;
$pdx-red-1: #9B2601;
